.menu-1,tr,th,td {
    font-size: 1.5em;
    border: 2px solid black;
    border-radius: 4px;
    border-collapse: collapse;
    font-family: sans-serif;
}

.menu-1 {
    width: 50%;
    margin: 0 auto;
}

.menu-1 thead tr {
    background-color: forestgreen;
    color: #ffff;
}

.menu-1 tbody td {
    padding: 10px;
}

.menu-1 tbody tr:nth-child(odd):hover {
    background-color: #a7a7a7;
}

.menu-1 tr:nth-child(even):hover {
    background-color: darkseagreen;
}

.menu-1 thead tr:hover {
    color: black;
    background-color: red;
}