.box-1 {
    color: rgb(100, 20, 200);
    background-color: #a7a7a7;
  /*border-width: 5px;
    border-color: red;
    border-style: solid;*/
    border: 5px red solid;
}

.box-2 {
    color: #a7a7a7;
    background-color: darkslategrey;
  /*border-left-width: 5px;
    border-left-color: red;
    border-left-style: solid;*/
    border-left: 5px red solid;
}

/* "radius" attribute köşeler için */
.box-3 {
    color: #a7a7a7;
    background-color: darkslategray;
/*  border-width: 10px;
    border-color: red;
    border-style: solid;
    border-radius: 25px;*/
    border: 5px red solid;
    border-radius: 5px;
}

.circle {
    background-color: #a7a7a7;
    width: 50px;
    height: 50px;
    border-radius: 50px;
/* If value same, that be a circle*/
}