p {
    font-size: 1.5em;
    font-family: sans-serif;
}

p::first-line {
    color: red;
}

p::first-letter {
    color: blue;
    font-size: 2em;
}

p::before {
    content: "BEFORE";
    font-size: 2.4em;
}

p::after {
    content: "AFTER";
    font-size: 2.4em;
    color: green;
}